<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Tweets</th>
    <th>Published At</th>
  </tr>
  </thead>
  <tbody>
  <% @twitter_infos.each do |k,v| %>
      <tr>
        <td><%= k[:tweets] %></td>
        <td><%= k[:created_at] %></td>
      </tr>
  <% end %>
  </tbody>
</table>