<% content_for :header do %>
<link rel="stylesheet" href="/static_resources/css/resumes/main.css" />
<% end %>

<div class="containerBox" >
  <div class="text-box">
    <h4>SHOW UP DIFFERENTLY</h4>
  </div>
  <%= image_tag "logo.png", class:"img" %>

</div>
<%= render 'form' %>

<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto');

  .containerBox {
    position: relative;
    display: inline-block;
  }

  .text-box {
    position: absolute;
    bottom:-3px;
    right:10px;

    }

  .text-box:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  h4 {
    display: inline-block;
    font-size: 10px; /*or whatever you want*/
    font-family: 'HelveticaNeueW01-77BdCn 692722',"Helvetica Neue",Arial,sans-serif;
    font-weight: bold;
    color: #0b7ac0;
  }

  img {
    display: block;
    max-width:40%;
   max-height:40%;"

  }

</style>
