<div style="display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 100px;
    margin: auto;">

  <p style="color:#0b7ac0"> Resume successfully uploaded</p>
</div>

